.App {
  text-align: center;
  padding:20px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-auto-rows: minmax(300px,auto);
  grid-gap:0.2em;
}
.App>div{
  background-color: hsl(0, 0%, 85%);
  padding:3px;
}

